@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b0c;
  --fg: #fafafa;
}

html, body {
  height: 100%;
}

body {
  color: var(--fg);
  background: radial-gradient(1200px 600px at 10% 0%, rgba(88,88,88,0.15), transparent 60%),
              radial-gradient(800px 500px at 90% 10%, rgba(88,88,88,0.12), transparent 60%),
              #0b0b0c;
}
input, button, table {
  color: #0b0b0c;
}
.card {
  @apply border rounded-2xl p-6 bg-white/90 backdrop-blur;
}
h1, h2, h3 { @apply text-black; }
